*.sdf
*.suo
Debug/JamBot.exe
Debug/JamBot.ilk
Debug/Jambot.pdb
JamBot/Debug/*
JamBot/Output.wav
*.opensdf
Jambot/Chorus1.wav
Jambot/Intro.wav
Jambot/Outro.wav
Jambot/Verse1.wav
Output1.wav
crunchy_bass_swag.flv.wav
